*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 9px;
    background-color: rgb(244, 243, 237);
}

h1{
       background-image: linear-gradient(54deg,rgb(202, 190, 190) 0%, rgb(159, 160, 154) 35%, rgb(216, 200, 61) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.barra-nav{
    display: grid;
}

.background{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;;
  width: auto;
  height: auto;
  z-index: -1000;
}
.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto{
    width: 210px;
    height: 201px;
    border-radius: 90%; 

}

.projetos{
    background: rgba(6, 1, 46, 0.507);
    height: 90vh;
    width: 45%;
    border-radius: 7%;
    box-shadow: 0 5px 20px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.dropdown .btn-violeta {
  background-color: #8A2BE2 !important;  /* violeta */
  border-color: #8822e7 !important;
  color: white !important;
}



.dropdown-menu{
background-color: rgb(171, 81, 255);
box-shadow: 0 5px 20px  rgb(0, 0, 0);
}

.tecnologias{
    display: grid;
    justify-content: center;
    padding: 5px;
    color:white; 
    height: 95%;
    width: 95%;
}
    h2{
        justify-self: center;
    }

.tecnologias img{
    width: 320px;
    height: 160px;
    }

